extends ../shared/template


block content
  h1 Create Quest

  .error-messages

  form(action='/quests/create', method='POST')
    input#quest-title(type='text', name='name', placeholder='Quest Name Here', required=true)
    input#selected-groups(type='text', name='groupIds', hidden=true, required=true)
    input#location-ids(type='text', name='locations', hidden=true, required=true)

  button#add-location(hidden=true) Add Location
  button#view-current-quest View Quest
  button#add-group-to-quest(hidden=true) Add Group(s)
  button#cancel-group-to-quest(hidden=true) Cancel Group
  button#confirm-group-to-quest(hidden=true) Confirm Group(s)
  button#clear-group-to-quest(hidden=true) Clear Group(s)

  .group-quest-options(hidden=true)
    if(groups.length > 0)
      each group in groups
        label(for='#{group._id}')= group.name
        input(type="checkbox", id='#{group._id}', class='group-to-quest', value='#{group.name}')
  ul#quest-groups-list(hidden)
  #quest-list(hidden)
    ul

  button#view-quest-list View List
  button(hidden=true)#view-quest-map View Map


  ol#quest-locations-listing(hidden=true)

  #create-quest-map

  button#submit-quest-form Build Quest

block scripts
  script(src='/js/es6/compiled/create-quest.js')
