extends ../shared/template

block content

  .content-wrapper
    mixin back('Edit Quest')

    .quest-edit-wrapper

      h1.quest-name(data-id='#{quest._id}') Edit #{quest.name}
      p= quest.description

      .quest-frame-wrapper
        .quest-image-wrapper(style="background-image: url(#{quest.photo.filePath})")
      .clear
      form(action='/quests/update/#{quest._id}', method='POST', enctype='multipart/form-data')
        p Edit Quest Image
        input(type='file', name='photo')
        input#selected-groups(type='text', name='groupIds', hidden=true)
        .border
        if (quest.isPrivate)
          p.inline Make Quest Public
          input(type='checkbox', name='isPrivate', value='false')
        else
          p.inline Make Quest Private
          input(type='checkbox', name='isPrivate', value='true')
        .border
        .group-quest-options
          if(groups)
            if(groups.length > 0)
              p.label Add Groups:
              each group in groups
                label(for='#{group._id}')= group.name
                input(type="checkbox", id='#{group._id}', class='group-to-quest', value='#{group.name}')
            else
              p.label Add Groups:
              h3 All your groups are a part of this quest
          
            .border
        button.submit-quest-changes Save Changes
      .border

      .quest-destinations-container
        h2 Quest Path:
        ul.quest-destinations

  #quest-map-canvas

block scripts
  script(src='/js/es6/compiled/edit-quest.js')
