extends ../shared/template

block content

  .content-wrapper
    mixin back('Quest List')


    if (questRemovedFromMyQuests.length > 0)
      .messages
        p= questRemovedFromMyQuests
    if (questUpdateConfirm.length > 0)
      .messages
        p= questUpdateConfirm

    .quest-list-content-wrapper 

      .quest-list-show-links-wrapper
        a.quest-list-show-link#created(href="#") CREATED
        a.quest-list-show-link#joined(href="#") JOINED
        a.quest-list-show-link#completed(href="#") COMPLETED


      if (createdQuests !== null)
        .created-quests-wrapper#active-list
          each quest in createdQuests
            .quest-entry
              a(href='/quests/show/#{quest._id}')
                h3.quest-name= quest.name
              .clear
              a.quest-edit(href='/quests/edit/#{quest._id}') edit

      if (myQuests !== null)
        .joined-quests-wrapper
          each quest in myQuests
            .quest-entry
              h3
               a(href='/quests/show/#{quest._id}')= quest.name
              p created by #{quest.creator.userName}

      if (completedQuests !== null)
        .completed-quests-wrapper
          each quest in completedQuests
            .quest-entry
              h3
                a(href='/quests/show/#{quest._id}')=quest.name
              p created by #{quest.creator.userName}

block scripts
  script(src='/js/es5/view-quests.js')
