extends ../shared/template

block content

  .profile-content-wrapper
    .messages
      if (questRemovedFromMyQuests)
        p= questRemovedFromMyQuests
        
    h1 View Quests

    h2 Created Quests
    if (createdQuests)
      each quest in createdQuests
        h3= quest.name
        a(href='/quests/show/#{quest._id}') edit
        p= quest.creator.userName

    h2 Joined Quests
    if (myQuests)
      each quest in myQuests
        h3
         a(href='/quests/show/#{quest._id}')= quest.name
        p= quest.creator.userName
