extends ../shared/template

block content

  .content-wrapper
    mixin back('Quest List')


    if (questRemovedFromMyQuests.length > 0)
      .messages
        p= questRemovedFromMyQuests
    if (questUpdateConfirm.length > 0)
      .messages
        p= questUpdateConfirm

    .quest-list-content-wrapper 

      if (createdQuests !== null)
        p.label.headline Created Quests
        each quest in createdQuests
          .quest-entry
            a(href='/quests/show/#{quest._id}')
              h3.quest-name= quest.name
            .clear
            a.quest-edit(href='/quests/edit/#{quest._id}') edit

      if (myQuests !== null)
        p.label.headline Joined Quests
        each quest in myQuests
          .quest-entry
            h3
             a(href='/quests/show/#{quest._id}')= quest.name
            p created by #{quest.creator.userName}

      if (completedQuests !== null)
        p.label.headline Completed Quests
        each quest in completedQuests
          .quest-entry
            h3
              a(href='/quests/show/#{quest._id}')=quest.name
            p created by #{quest.creator.userName}
