extends ../shared/template

block content
  br
  br
  br
  br
  br
  br
  h2 Public Quests
  br
  if(results.questNames.length > 0)
    each quest in results.questNames
      h2= quest.name
  br
  h2 Groups
  br
  if(results.groupNames.length > 0)
    each group in results.groupResults
      h2= quest.name
  br
  h2 Locations
  br
  if(results.locationNames.length > 0)
    each location in results.locationNames
      a(href='/locations/#{location.name}')= location.name

  br
  if(results.locationDescResults.length > 0)
    each location in results.locationDescResults
      a(href='/locations/#{location.name}')= location.name
  br
  h2 Users
  br
  if(results.userNames.length > 0)
    each user in results.userNames
      h2= user.userName
