extends ../shared/template

block content
  .content-wrapper
    mixin back('Search Results')
    
    .results-links-wrapper
        a.results-link#quests(href="#") QUESTS
        a.results-link#locations(href="#") LOCATIONS
        a.results-link#users(href="#") USERS

    .quests-results-wrapper#active-list
      p.label Public Quests
      .border
      if(results.questNames.length > 0)
        each quest in results.questNames
          .quest-entry-wrapper
            a.result-name(href='/quests/show/#{quest.id}')
              img(src='#{quest.photo.filePath}')
              h2.inline= quest.name
            a.view-result(href='/quests/show/#{quest.id}') View
          .clear
          .border
    .locations-results-wrapper
      p.label Locations
      .border
      if(results.locations.length > 0)
        each location in results.locations
          a.result-name(href='/locations/#{location.name}')= location.name
          a.view-result(href='/locations/#{location.name}') View
          .border
    .users-results-wrapper
      p.label Users
      .border
      if(results.userNames.length > 0)
        each user in results.userNames
          h2= user.userName

block scripts
  script(src='/js/es5/search-results.js')