extends ../shared/template

block content
  br
  br
  br
  br
  br
  br
  br
  h3 Results
  h2 Quests
  if(results.questNames.length > 0)
    each quest in results.questNames
      h2= quest.name
  br
  h2 Groups
  if(results.groupNames.length > 0)
    each group in results.groupResults
      h2= quest.name
  br
  h2 Locations
  if(results.locationNames.length > 0)
    each location in results.locationNames
      h2= location.name
  br
  if(results.locationDescResults.length > 0)
    each location in results.locationDescResults
      h2= location.name
  br
  h2 Users
  if(results.userNames.length > 0)
    each user in results.userNames
      h2= user.userName
