extends ../shared/template


block content

  .content-wrapper
    mixin back('Nearby Check Ins')

    .nearby-checkins-wrapper
      if (locations.length > 0)
        ul.nearby-checkin-list
          each location in locations
            if (user.isInActiveQuest(location._id, quest))
              li.active-quest-checkin
                h3= location.name
                p *This location is in your active quest
                a(href='/checkIn/#{location._id}')
                  button check in
                a(href='/locations/show/#{location._id}')
                  button show more
            else
              li
                h3= location.name
                a(href='/checkIn/#{location._id}')
                  button check in
                a(href='/locations/show/#{location._id}')
                  button show more

      else
        h3 There are no locations nearby. Keep trecking!
