extends ../shared/template

block content
   form(action='/users/checkin/#{locationId}/?lat=#{lat}&lng=#{lng}', method='POST')
     textarea(rows='5', columns='50', name='comment')
     button Check In

   //- #{user.activeQuest.questId}/#{locationId}
