extends ../shared/template


block content

  .content-wrapper
    mixin back('Nearby Check Ins')

    .nearby-checkins-wrapper
      if (locations.length > 0)
        ul.nearby-checkin-list
          each location in locations
            if (user.isInActiveQuest(location._id, quest))
              li.active-quest-checkin
                .location-wrapper
                  h3= location.name
                  p *This location is in your active quest
                  a.show-more(href='/locations/show/#{location._id}') show more
                a(href='/checkIn/#{location._id}')
                  button Check In
            else
              li
                .location-wrapper
                  h3= location.name
                  a.show-more(href='/locations/show/#{location._id}') show more
                a(href='/checkIn/#{location._id}')
                  button Check In

      else
        h3 There are no locations nearby. Keep trecking!
