extends ../shared/template

append scripts
  script(src='/js/es6/compiled/profile.js')



block content
  .content-wrapper
    mixin back('Edit Profile')

    .profile-edit-wrapper
      img(src='#{profileOwner.photo.filePath}')
      form.edit-photo(action='/users/edit/photo/#{profileOwner._id}', method='POST', enctype='multipart/form-data')
        input(type='file', name='photo')
        button Submit
      .clear
      .border
      p Username
      form(action='/users/edit/#{profileOwner._id}', method='POST')
        input(type='text', name='userName', value='#{profileOwner.userName}')
        button Submit
      p Nickname
      form(action='/users/edit/#{profileOwner._id}', method='POST')
        input(type='text', name='nickName', value='#{profileOwner.nickName}')
        button Submit
      p Email
      form(action='/users/edit/#{profileOwner._id}', method='POST')
        input(type='text', name='email', value='#{profileOwner.email}')
        button Submit
      p Password
      form(name='passwordCheck', onsubmit='return validatePassword();', action='/users/edit/#{profileOwner._id}}', method='POST')
        input(type='password', id='password', name='password', placeholder="Enter new password")
        input(type='password', id='passwordConfirmation', name='passwordConfirmation', placeholder="Confirm password")
        button Submit
      a.submit-edits(href='/users/#{profileOwner.userName}') Save Changes

  script.
    function validatePassword() {
       var password = document.forms['passwordCheck']['password'].value;
       var passwordConfirmation = document.forms['passwordCheck']['passwordConfirmation'].value;

       if (password !== passwordConfirmation ) {
           alert('Password fields must match');
           $('#password').val('');
           $('#passwordConfirmation').val('');

           return false;
       }else if(password === '' || passwordConfirmation === ''){
         alert('Password cannot be blank');
       }
        $('#passwordConfirmation').attr('name', '');
     }

block scripts
  script(src='/js/es6/compiled/profile.js')
