
block content

  if (successCheckIn.length > 0)
    .home-messages
      p.home-message= successCheckIn

  if(!user.activeQuest.questId)
    .notification-icon

  .notification-wrapper(hidden)
    p You currently don't have an active quest.
    a(href='/quests/view') Find a quest to activate.
    a#dismiss(href="#") Dismiss

  include ../locations/index.jade

  .map-bottom-container
    form.checkin-form(action='/checkIn/view-nearby', method='GET')
      input.hidden(type='text', name='nearbyCheckIns', hidden)
    a(href='#').checkin-button
    .profile-home-wrapper
      .profile-pic-wrapper
        .profile-pic-div(style="background-image:url('#{user.photo.filePath}')")
      .class-name-wrapper
        p.label Class:
        p.class-name= user.class
      .class-icon-wrapper
        a(href="/users/#{user.userName}/badges")
          img(src='#{user.badges[user.badges.length -1].filePath}')

  #map-filter
    select
      option Filter
      option -------
      option All
      option Civil War Sites
      option Andrew Jackson
