extends ../shared/template

block content

  .content-wrapper
    mixin back('Leaderboard')

    .leaders-menu-buttons
      a.overall-menu-button.active-button(href="#") Overall
      a.groups-menu-button(href="#") Groups

    .show-group-list(hidden)
      ul
        if (groups.length > 0)
          each group in groups
            li
              .group-leader-name-container
                h3.group-name= group.name
              .group-leader-name-button
                button.show-group-rankings(data-id='#{group._id}') view

      .leaders-lists#group-leaders-list
        ol
    .leaders-lists#overall-leaders-list
      ol
        h2 Overall Leaders
        .border
        each leader in leaders
          li.leader-listing
            .leader-image-container(style="background-image: url(#{leader.photo.filePath})")
            .leader-information-container
              p.label username:
              p.leader-name #{leader.userName}
              p.label points:
              p.leader-points #{leader.points}
            .leader-badge-container(style="background-image: url(#{leader.badges[leader.badges.length - 1].filePath})")
          .border

block scripts
  script(src='/js/es6/compiled/leaders.js')
