extends ../shared/template

block content
  .content-wrapper
    mixin back('Profile')

    .messages
      if (questConfirm)
        p= questConfirm
      if (unknownProfile)
        p= unknownProfile
      if (joinedGroup)
        p= joinedGroup
      if (invalideGroupCode)
        p= invalideGroupCode
      if (groupMemberExists)
        p= groupMemberExists
      if (alreadyInMyQuests)
        p= alreadyInMyQuests
      if (addedToMyQuests)
        p= addedToMyQuests
    //Don't want groupConfirmation to fade out like other messages
    .group-confirmation-container
      if (groupConfirmation)
        p= groupConfirmation

    .profile-wrapper
      .profile-info-left
        .profile-pic(style='background-image: url("#{profileOwner.photo.filePath}")')
        if(user.isOwner(profileOwner._id))
          a.edit-profile(href="/users/edit/#{profileOwner._id}") EDIT
      .profile-info-right
        span Username:
        h3= profileOwner.userName
        span Nickname:
        h3= profileOwner.nickName
        span Class:
        h3= profileOwner.class
    .links
      a(href="/users/#{profileOwner.userName}/checkins")
        h4 Check-Ins
        img(src="/img/assets/link-placeholder.png")
      a(href="#")
        h4 Badges
        img(src="/img/assets/link-placeholder.png")
      a(href="/users/leaders")
        h4 Leaders
        img(src="/img/assets/link-placeholder.png")
    .quest-group-menu-buttons
      a.quest-menu-button.active-button(href="#") Quests
      a.group-menu-button(href="#") Groups
    .quest-group-menus
      ul.quest-menu
        li
          a(href='#') Find a Quest
        li
          a(href='/quests/new') Build a Quest
        li
          a(href='/quests/view') View Quests
        li
          a(href='#') Completed Quests
      ul.group-menu
        li.join-group-form(hidden)
          form(action='/groups/join-group', method='POST')
            input.group-code(type='text', name='groupCode', placeholder='Enter Group Code Here')
          button Join Group
        li
          a.join-group-link(href='#') Join a Group
        li
          a(href='#') Find a Group
        li
          a(href='/groups/new') Create a Group
        li
          a(href='/groups/view') Manage Groups

block scripts
  script(src='/js/es6/compiled/profile.js')
