include ../shared/back.jade
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyArPvnhx4BUiKnrYG6cyNX-YZL21LruNAQ&sensor=false')
    script(type='text/javascript', src='//use.typekit.net/osj8ghm.js')
    script(type='text/javascript').
      try{Typekit.load();}catch(e){}
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='/less/app.css', rel='stylesheet')

  body.cbp-spmenu-push
    nav#cbp-spmenu-s1.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-left
      .nav-wrapper
        if (user)
          .nav-profile-pic(style='background-image: url("#{user.photo.filePath}")')
          p.nav-name= user.nickName
          p.nav-class= user.class
          p.nav-points #{user.points} Points
          ul.main-nav
            li
              a(href="/dashboard") Home
            li
              a(href="/users/#{user.userName}") Profile
            li
              a(href="#") About
            li
              a(href="/users/edit/#{user._id}") Settings
            li
              form.logout-form(action='/logout', method='POST')
                a.submit-logout(href="#") Logout
        else
          h2 YOU NEED TO LOG IN

        img.nav-logo-icon(src="/img/assets/logo-icon.png")

    header#floating-header
      a.menu-link#showLeftPush(href='#')
        i.fa.fa-bars
      a.logo-link(href='/dashboard')
        h1.logo Nashploration
      .search-container
        form#main-search(action='/search', method='GET')
          input.main-search-input(type='text', name='search', placeholder='Search here')
        a.show-searchbar(href='#')
          i.fa.fa-search

    block content

    script(src='/js/vendor/classie.js')
    script(src='/js/vendor/jquery-2.1.1.js')
    script(src='/js/vendor/lodash-2.4.1.js')
    script(src='/js/vendor/moment-2.6.0.js')
    script(src='/js/vendor/traceur.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/es5/interface.js')
    script(src='/js/es6/compiled/main.js')
    script(src='/js/es6/compiled/sockets.js')

    block scripts
