extends ../shared/template

block content
  .content-wrapper
    mixin back('Location Details')

    .location-details-wrapper
      h3.location-name= location.name
      p= location.description

      if(comments)
        .border
        p.label Comments
        each comment in comments
          .comment-wrapper
            .comment-profile-picture(style="background-image: url(#{comment.userPhoto})")
            .comment-content
              p.comment-username= comment.userName
              p.comment-date Posted #{comment.daysFromComment}
              .clear
              p.comment-body= comment.comment
            .clear
      
      .border
      #wiki
      #wiki-nav
      a(href='#')#other-resources-link
      #wiki-description
      #other-resources-text
        div(id='coords', data-lat='#{location.loc[1]}', data-long='#{location.loc[0]}', data-name='#{location.name}')
   
block scripts
  script(src='/js/es6/compiled/location-details.js')
