extends ../shared/template

block content
  .content-wrapper
    mixin back('Location Details')

    .location-details-wrapper
      h3.location-name= location.name
      p= location.description

      if(comments)
        each comment in comments
          p= comment.userName
          p Posted #{comment.daysFromComment}
          p= comment.comment
          img(src='#{comment.userPhoto}')
      
      .border
      #wiki
      #wiki-nav
      #wiki-description
        div(id='coords', data-lat='#{location.loc[1]}', data-long='#{location.loc[0]}', data-name='#{location.name}')

block scripts
  script(src='/js/es6/compiled/location-details.js')
