extends ../shared/template

block content
  h3= location.name
  p= location.description
  #street-view

  if(comments)
    each comment in comments
      p= comment.userName
      p Posted #{comment.daysFromComment}
      p= comment.comment
      img(src='#{comment.userPhoto}')
  br
  br
  br
  br
  #wiki-description
  #wiki
    div(id='coords', data-lat='#{location.loc[1]}', data-long='#{location.loc[0]}')

block scripts
  script(src='/js/es6/compiled/location-details.js')
